* {
  box-sizing: border-box;
  margin: 0;
}
.container {
  max-width: 1232px;
  min-width: 991px;
  margin: 0 auto;
}

.body {
  background-color: #ffffe090;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 500;
  font-style: normal;
}

.product {
  margin-top: 20px;
  display: flex;
}

.product-description {
  display: flex;
  flex-direction: column;
  margin: 30px;
  align-items: center;
}

.pumpkin-earring {
  width: 500px;
  height: 300px;
}

.product-name {
  color: #1c86d7;
  padding-bottom: 20px;
}

.product-article {
  padding-bottom: 50px;
}

.product-price {
  padding-bottom: 60px;
}
.buttons {
  color: #1c86d7;
  padding: 5px 25px;
  border: 1px solid #1c86d7;
  border-radius: 30px;
  background-color: #00000020;
  margin-bottom: 20px;
}

.star {
  color: darkred;
}

#order-form {
  margin-top: 40px;
  border: 1px solid black;
  display: none;
  flex-direction: column;
  align-items: center;
}
.form-name {
  padding-top: 20px;
  color: #1c86d7;
  padding-bottom: 20px;
}

.view {
  background-color: #1c86d760;
  border-radius: 20px;
}

#order-details {
  display: none;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.information {
  color: #1c86d7;
  padding-bottom: 30px;
}
